:root {
    --petrol: #003d66;
    --turquoise: #99dbbd;
    --elegant-green: #005c4d;
    --sunny-yellow: #ffe885;
    --blushing-pink: #ff9e91;
    --deep-aubergine: #5e1c47;
    --black: #1c1c1c;
    --white: #ffffff
}

body {
    background-color: var(--petrol);
}

body > #root > div {
    height: 100vh;
}

.background {
    background-image: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 20%;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(100px);
    position: absolute;
    z-index: -1;
}
